*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
    
}


#logo{
    margin: auto;
    width: 140px;
    height: 80px;
   
}

.header-logo{
    background-color: white;
    margin-left: 5%;
    display: flex;

}

.header{
    background-color:#0e3252;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


.header-info-contact{
    color: #fff;
    display: inline-flex;
    justify-content: flex-end;
}




.header-nav{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.nav-box{
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
    
}

.nav-item a, .nav-item-active a{
    text-decoration: none;
    color: #fff;
    
  

}

.red-text{
    color: red;
}

.red-text-heading{
    color: red;
    font-weight: bold;
    font-size:24px;
}

.ml-10{
    margin-left: 20px;
}

.nav-item-active{
    text-shadow: 0.5px 0.5px #fff;
    border-bottom: solid 3px red;  
  
    
   
}


.banner{
    background:rgba(0,0,0,0.5) url(./images/banner_PearlHoiAn.png);
    background-size:100%;
    background-blend-mode: darken;
    width: 100%;
    height: 600px;
    
}

.text-banner{
   
    padding: 15% 0 0 5%;
    color: #fff;
    
}

.logo-about-us{
    width: 20%;
    height:20%;
}
.logo-title{
    display:flex;
    justify-content: space-between;
}
.about-us{
    display: flex;
    background-image:linear-gradient(0,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5)) ,url(./images/background-logo.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    padding: 5% 5%;
}

.about-text{
    margin:3% 0 0 3%;
    
}
.about-img{
    width: 500px;
    height: 300px;
}
.about-right{
    margin: 5% 5%;
}
.about-left{
    /* margin: 5% 5%; */
    
    /* background: rgba(255, 255, 255, 0.5) url(./images/background-logo.svg); */
    background-size:100% ;
    

}
.about-us-title{
    margin:auto;

}
.background-logo{
    opacity: 0.2;
}


.dev-title{
    display: flex;
    justify-content: space-between;
    /* margin: 0 5% 5% 5%; */
    
   
}


.content-box-top{
    display: flex;
}
.content-box-bottom{
    display:flex;
}

.icon-red-splash{
    width:30px;
    height:70px;
    margin: auto;
    
}
.about-right-title{
    display: flex;
    
}



.develop-way{
 
    background:url(./images/background-dev-way.svg  );
    background-size: 100%;
    
    padding: 5% 5%;
}

.dev-title-left{
    display: flex;
}
.way-dev-text{
   margin: auto;
   
}
.icon-red-splash-right{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width:30px;
    height:70px;
}

.icon-white-splash-right{
    margin:auto;
    width:30px;
    height:70px;
}
.year-dev{
    margin: 2%;
    
    
}

.content-box-top{
    display: flex;
    justify-content: space-around;
}
.content-box-bottom{
    display: flex;
    justify-content: space-around;
}

.content-item{
    background-color: white;
    width: 250px;
    height:50px;
    box-shadow:  0.1px 0.2px black;
   
    margin: 0 0 20px 10px;
    display: flex;
}
.icon-item{
    width:30px;
    height:30px;
    margin:auto;
}
.text-title{
    margin:auto;
    text-align: left;
}


.title-field-operation{
    display: flex;
}
.field-operation{
    
    color: white;
    background: url(./images/field-operation-logo.svg);
    background-size: 100%;
}
.field-operation-img{
    width:500px;
    height:300px;
    
}


.white-text-heading{
    color: white;
    font-weight: bold;
    font-size:24px;
    margin: auto;
}
.field-operation-bg{
    background:rgba(255, 0, 0, 0.8);
    padding: 5% 5%;
    display: flex; 
    justify-content: space-between;
}

.option-field-operation{
    padding:5% 0 0 25%;
}

.field-operation-item-active{
    background-color: white;
    border-radius: 5px;
    color: red;
    list-style-position: inside;
    padding: 1% 5%;
}
.field-operation-item{
    list-style-type: circle;
    padding: 1% 5%;
    white-space: nowrap;
    list-style-position: inside;
}
.field-operation-right{
    padding-right: 10%;
}

.outstanding-project{
    padding: 5% 5%;
}

.outstanding-project-heading{
    display:flex;
}
.outstanding-project-title{
    margin: auto;
}
.outstanding-project-top{
    display: flex;
    justify-content: space-between;
}
.btn-more-op{
    border: none;
}

.outstanding-project-bot{
    display: flex;
    
}
.outstanding-project-left{
    flex: 2;
   position: relative;
   
}
.text-inside{
    position: absolute;
    left: 16px;
    bottom: 8px;
    color: white;
}

.outstanding-project-right{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    
   
}

.op-left{
    
    width:100%;
    height:400px;
   
}
.op-right-top{
   
 
    width:100%;
    height: 198px;
    
    
}
.op-right-bot{
   
    
    width:100%;
    height: 198px;
    
    
}
.outstanding-project-right-top, .outstanding-project-right-bot{
    position: relative;
    
}
.news{
    padding: 0 5%;
}
.news-head{
    display:flex;
    justify-content:space-between;
}
.news-head-left{
    display: flex;
}
.news-head-text{
    margin: auto;
}

.news-newest{
    display: flex;
    flex-direction: column;
    
}

.news-info{
    display: flex;
    justify-content:flex-start;
    margin-top: 5%;
}
.news-time{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 0 1%;
    margin-right: 5px;
    font-size: 12px;
    white-space: nowrap;
}
.news-date{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.news-title{
    font-size: 14px;
    font-weight: 600;

}

.news-img{
    width: 360px;
    height: 200px;
}
.news-content{
    display: flex;
    justify-content: space-evenly;
}
.news-list-mid, .news-list-last{
    padding: 0 1%;
}